<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="/">ŻUKIKOT Ariel Chlaściak</a>
  <div class="navbar-expand mr-auto">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="#home">Home</a>
      <a class="nav-item nav-link" href="#about">About</a>
      <a class="nav-item nav-link" href="#contact">Contact</a>
    </div>
  </div>
  <div class="navbar-expand ml-auto navbar-nav">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="https://www.linkedin.com/in/ariel-chla%C5%9Bciak-69b52495/" target="_blank">
        <i class="fa fa-linkedin"></i>
      </a>
    </div>
  </div>
</nav>