	<div id="contact" class="align-text-top">
		<div class="container bg-info">		
			<div class="row">
				<div class="col-xs-5 col-sm-6 col-lg-4" style="display:inline-block"><h1>Want to talk or meet?</h1>
					<br>
				<p>ŻUKIKOT, Ariel Chlaściak<br>
					<i class="fa fa-home"></i> ul. Piłsudskiego 74/320<br>
					50-020 Wrocław<br><br>
					<i class="fa fa-phone"></i> 727 930 012 <i class="fa fa-talk"></i><br>
				</p></div>
				<div class="col-xs-7 col-sm-6 col-lg-8" ><div leaflet class="map"
               [leafletOptions]="options"
  [leafletLayersControl]="layersControl"> </div></div>
			</div>
			
		</div>
	</div>

